<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inbox </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Mehl</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Zucker</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hefe</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Vanille</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
